.headline {
  text-align: center;
  margin-bottom: rem(80px);


  @include tablets {
    margin-top: 269px;
  }
  @include phones {
    margin-top: 52px;
  }
}
.headline__title {
  margin-bottom: rem(25px);


  @include phones {
    margin-top: rem(52px);
  }
}
.headline__subtitle {
  padding: 0 30%;

  @include phones {
    padding: 0;
  }
}
